[BaseOS]
name=BaseOS
baseurl=http://10.188.250.12/uniontechos-server-20-1020a-arm64/BaseOS
gpgcheck=0
enabled=1

[AppStream]
name=AppStream
baseurl=http://10.188.250.12/uniontechos-server-20-1020a-arm64/AppStream
gpgcheck=0
enabled=1
